/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define ZMK_POINTING_DEFAULT_MOVE_VAL 1500  // default: 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 20    // default: 10
#include <dt-bindings/zmk/pointing.h>

#define M_LEFT MOVE_LEFT
#define M_RIGHT MOVE_RIGHT
#define M_UP MOVE_UP
#define M_DOWN MOVE_DOWN

#define BASE  0
#define NUM   1
#define SYM   2
#define FUN   3
#define MOUSE 4

#define KR_FUN &lt FUN &key_repeat

#define KEY_REP &mo FUN &key_repeat
#define CAG LC(LA(LGUI))

#define SF_CTRL &kp_sk LCTRL LSFT

&lt {
    tapping-term-ms = <200>;
    quick-tap-ms = <200>;
};

&mt {
    tapping-term-ms = <200>;
    quick-tap-ms = <200>;
};

&sk {
    release-after-ms = <2000>;
    quick-release;
};

/ {
        behaviors {
            sm_shft: smart_shift {
                compatible = "zmk,behavior-mod-morph";
                #binding-cells = <0>;
                bindings = <&sk LSHFT>, <&caps_word>;
                mods = <(MOD_RSFT)>;
            };

            kp_sk: kp_sk {
                compatible = "zmk,behavior-hold-tap";
                #binding-cells = <2>;
                tapping-term-ms = <200>;
                quick-tap-ms = <200>;
                require-prior-idle-ms = <125>;
                flavor = "tap-preferred";
                bindings = <&kp>, <&sk>;
            };

            mo_sk: mo_sk {
                compatible = "zmk,behavior-hold-tap";
                #binding-cells = <2>;
                tapping-term-ms = <200>;
                quick-tap-ms = <200>;
                require-prior-idle-ms = <125>;
                flavor = "tap-preferred";
                bindings = <&mo>, <&sk>;
            };
        };
        keymap {
                compatible = "zmk,keymap";
                base {
                        bindings = <
//╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
       &kp Q         &kp W         &kp F         &kp P         &kp G             &kp J         &kp L         &kp U         &kp Y        &kp SQT
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
       &kp A         &kp R         &kp S         &kp T         &kp D             &kp H         &kp N         &kp E         &kp I        &kp O
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
       &kp Z         &kp X         &kp C         &kp V         &kp B             &kp K         &kp M        &kp COMMA      &kp DOT      &kp FSLH
//╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                              &mo_sk SYM LALT &lt NUM SPC     SF_CTRL        &mt RGUI BSPC &mo_sk FUN CAG  &caps_word
//                            ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
                        >;
                };
                num {
                        bindings = <
//╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
       &none        &kp F7        &kp F8        &kp F9        &kp F10            &none        &kp N7        &kp N8        &kp N9         &none
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
       &none        &kp F4        &kp F5        &kp F6        &kp F11            &none        &kp N4        &kp N5        &kp N6        &kp N0
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
       &none        &kp F1        &kp F2        &kp F3        &kp F12            &none        &kp N1        &kp N2        &kp N3         &none
//╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                   &none         &none         &none             &none         &none         &none
//                            ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
                        >;
                };
                sym {
                        bindings = <
//╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
       &none       &kp TILDE     &kp STAR      &kp CARET       &none           &kp HASH      &kp DLLR       &kp AT        &none        &kp GRAVE
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
     &kp EXCL      &kp MINUS     &kp PLUS      &kp EQUAL     &kp PRCNT         &kp SEMI      &kp LPAR       &kp RPAR     &kp LBKT      &kp UNDER
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
       &none         &none       &kp PIPE      &kp AMPS      &kp COLON         &kp COLON     &kp LBRC       &kp RBRC     &kp RBKT      &kp BSLH
//╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                   &none         &none         &none             &none         &none         &none
//                            ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
                        >;
                };
                fun {
                        bindings = <
//╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
      &kp TAB    &kp C_BRI_DN  &kp C_BRI_UP  &kp C_VOL_DN  &kp C_VOL_UP          &none       &kp PG_DN     &kp PG_UP       &none         &none
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
      &kp ESC      &kp LALT      &kp LCTRL     &kp LGUI        &none           &kp LEFT      &kp DOWN        &kp UP      &kp RIGHT      &kp RET
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
       &none         &none         &none         &none         &none         &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2   &bt BT_CLR  &bt BT_CLR_ALL
//╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                   &none       &mo MOUSE     &kp LSHFT           &none         &none         &none
//                            ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
                        >;
                };
                mouse {
                        bindings = <
//╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
       &none     &kp C_BRI_DN  &kp C_BRI_UP  &kp C_VOL_DN  &kp C_VOL_UP          &none       &kp PG_DN     &kp PG_DN       &none         &none
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
       &none       &kp LALT      &kp LCTRL     &kp LGUI      &kp LSHFT        &mmv M_LEFT &mmv MOVE_DOWN &mmv MOVE_UP    &mmv M_RIGHT     &none
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
       &none         &none         &none         &none         &none           &mkp MB4      &mkp MB5        &none         &none         &none     
//╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                   &none         &none         &none           &kp LSHFT     &mkp LCLK     &mkp RCLK    
//                            ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
                        >;
                };
        };
};
